:root {
  /* COLORS */
  --primary-color: #231f20;
  --primary-color-80: rgba(255, 255, 255, 0.05);
  --secondary-color: #cf6953;
  --white-color: #fff;
  --black-color: #000;
  --warning-color: #c25b5b;
  --success-color: #6ba688;
}

/* --------------------------------------------------------- */
.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.white-color {
  color: var(--white-color);
}

.bg-white-color {
  background-color: var(--white-color);
}

.black-color {
  color: var(--black-color);
}

.warning-color {
  color: var(--warning-color);
}

.success-color {
  color: var(--success-color);
}
